@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400,500,300|Noto+Sans:800italic,800");

.main {
position: fixed;
background-color: #33353C;
height: 1080px;
width: 1920px;
left: 0px;
top: 0;
font-kerning: auto;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


p {
font-family: "Montserrat";
display: block;
margin-block-start: 0;
margin-block-end: 15px;
margin-inline-start: 0;
margin-inline-end: 0;
}

p1 {
font-family: "Montserrat";
display: block;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
}



.vertical_line{
height: 74px;
}



.topbar {
display: flex;
justify-content: space-around;
font-size: 48px;
font-weight: lighter;
align-items: center;
height: 74px;;
color: white;
font-family: "Montserrat";
}

.divider {
display: flex;
justify-content: space-around;
margin-top: 0px;
width: 1900px;
margin-left: 10px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.auto{
position: relative;
display: flex;
justify-content: space-around;
font-weight: medium;
font-size: 36px;
align-items: center;
height: 178px;
margin-left: 20px;
margin-right: 10px;
color: #718BCD;
}


.type_of_car{
display: flex;
justify-content: space-around;
font-size: 96px;
font-weight: lighter;
align-items: center;
height: 150px;
margin-left: 70px;
margin-right: 70px;
color: white;
}



.main_options{
display: flex;
justify-content: space-around;
font-size: 96px;
font-weight: lighter;
align-items: center;
height: 150px;
margin-left: 15px;
margin-right: 15px;
color: white;
}



.advanced_options {
display: flex;
justify-content: space-around;
font-size: 96px;
font-weight: lighter;
color: white;
height: 280px;
text-align: center;
align-items: center;
margin-right:40px;
}

.advanced_options12 {
display: flex;
flex-direction: column;
flex: 6;
}

.advanced_options1 {
display: flex;
justify-content: space-around;
flex-direction:row;
align-items: center;
height: 140px;
}

.advanced_options2 {
display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;
height: 140px;
}

.more{
display: flex;
flex-direction: row;
justify-content: space-around;
flex: 1;
}

.text_more{
margin-top: 10px;
margin-left: 30px;
color: #718BCD;
}e

.vertical_line2{
display: flex;
margin-top: 0px;
}

.text_all{
display: flex;
font-size: 36px;
font-weight: lighter;
align-items: center;
color: white;
margin-left: 30px;
margin-top: 5px;
height: 70px;
}


.pricebar{
display: flex;
height: 150px;
align-items: center;
text-align: center;
}


.price{
color: white;
font-size: 76px;
margin-left: 30px;
width: 250px;
}

.rectangle_minus{
width: 100px;
height: 100px;
background: #5A688B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15.1136px;
margin-left: 30px;
}

.minus{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: white;
font-size: 96px;
height: 90px;
}

.rectangle_price{
width: 300px;
height: 100px;
background: #5A688B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15.1136px;
margin-left: 30px;
}

.summa{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: white;
font-size: 76px;
}

.rectangle_plus{
width: 100px;
height: 100px;
background: #5A688B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15.1136px;
margin-left: 30px;
}

.plus{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: white;
font-size: 96px;
height: 100px;
}



.rectangle_start{
width: 400px;
height: 100px;
background: #5A688B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15.1136px;
margin-left: 30px;
margin-left: 300px;
}


.start{
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: white;
font-size: 96px;
height: 80px;
}
