@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400,500,300|Noto+Sans:800italic,800");

.main {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	font-kerning: auto;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

html{
	font-size: 2vw;
}

html, body {
	width: 100%;
	height: 100%;
	background: #ccc;
	padding: 0;
	margin: 0;
}

body{
	background-color: #33353C;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.topbar_column{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.topbar {
	display: flex;
	justify-content: space-around;
	font-weight: lighter;
	align-items: center;
	height: 3vw;
	color: white;
	font-family: "Montserrat";
}

.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 0.5%;
	width: 99vw;
	height: 0.1vw;
	background: #7A8298;
}

.vertical_line{
	display: flex;
	justify-content: center;
	left: 50%;
	width: 0.1vw;
	height: 2vw;
	background: #7A8298;
}

.auto{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	align-items: center;
	height: 9vw;
}

.carsvg{
	display: flex;
	justify-content: center;
	width: 6.3vw;
}

.name_of_car_radio_btn {
	width: 7vw;
	height: 5vw;
}

.name_of_car_radio_btn input[type=radio] {
	display: none;
}

.name_of_car_radio_btn label {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.name_of_car_radio_btn input[type=radio]:checked + label {
	background: #5A688B;
	transition: 0.3s;
}

.name_of_car_radio_btn label:hover {
	color: white;
	transition: 0.3s;
}

.name_of_car_radio_btn input[type=radio]:disabled + label {
	background: #33353C;
	color: white;
	transition: 0.3s;
}
