@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400,500,300|Noto+Sans:800italic,800");

p {
margin-block-start: 0;
margin-block-end: 0;
color: white;
}

.main {
position: fixed;
background-color: #33353C;
height: 1080px;
width: 1920px;
display: flex;
align-items: center;
justify-content: center;
left: 0px;
top: 0;
}

.stroke {
 display: block;
 align-items: center;
 justify-content: center;
 width: 921px;
 height: 634px;
 border: 1px solid white;
 box-sizing: border-box;
 border-radius: 10px;

}


.heading1 {
display: flex;
font-family: "Montserrat";
font-size: 60px;
font-weight: lighter;
align-items: center;
justify-content: center;
margin-top: 100px;
color: white;

}


.heading2 {
display: flex;
font-family: "Montserrat";
font-size: 20px;
font-weight: lighter;
align-items: center;
justify-content: center;
opacity: 0.9;
margin-top: 10px;

}


.rectangle_input{

  position: absolute;
  width: 652px;
  height: 71px;
  left: 634px;
  top: 504px;

  background: #33353C;
   color: white;
   font-size: 30px;
   font-family: "Montserrat";
   border: 1px solid white;
   box-sizing: border-box;
   border-radius: 10px;


}


.rectangle_login{

  position: absolute;
  width: 68px;
  height: 33px;
  left: 712px;
  top: 487px;

  background: #33353C;
}


.login {
  position: absolute;
  width: 68px;
  height: 33px;
  left: 712px;
  top: 487px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-left: 4px;

  color: white;

}



.rectangle_input2 {
  position: absolute;
width: 652px;
height: 71px;
left: 634px;
top: 617px;


background: #33353C;
 color: white;
 font-size: 30px;
 font-family: "Montserrat";
background: #33353C;
border: 1px solid white;
box-sizing: border-box;
border-radius: 10px;

}


.rectangle_pass {
  position: absolute;
  width: 74px;
  height: 33px;
  left: 710px;
  top: 600px;

  background: #33353C;

}


.pass {

position: absolute;
width: 67px;
height: 23px;
left: 713px;
top: 598px;

font-family: "Montserrat";
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}



.rectangle_button {
  position: absolute;
  width: 233px;
  height: 50px;
  left: 856px;
  top: 754px;

  background: #33353C;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}


.button {
  position: absolute;
  width: 88px;
  height: 35px;
  left: 929px;
  top: 761px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #FFFFFF;

}
